<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javalow.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.javalow.domain.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="BOOLEAN" property="gender"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, `name`, gender, phone
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_innodb
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultType="com.javalow.domain.User">
        select
        <include refid="Base_Column_List"/>
        from user_innodb
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user_innodb
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.javalow.domain.User" useGeneratedKeys="true">
        insert into user_innodb (`name`, gender, phone
          )
        values (#{name,jdbcType=VARCHAR}, #{gender,jdbcType=BOOLEAN}, #{phone,jdbcType=VARCHAR}
          )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.javalow.domain.User"
            useGeneratedKeys="true">
        insert into user_innodb
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="phone != null">
                phone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=BOOLEAN},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.javalow.domain.User">
        update user_innodb
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=BOOLEAN},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.javalow.domain.User">
        update user_innodb
        set `name` = #{name,jdbcType=VARCHAR},
          gender = #{gender,jdbcType=BOOLEAN},
          phone = #{phone,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>